body{
	background: radial-gradient(#858585, #414141);
	color: #00FF00;
}

/* Text shadow's parameters follow X (left/right), Y (up/down), and blur strength*/
h1{
	color: #ffffff;
	text-shadow: 0px 0px 12px rgb(255, 255, 255);
	font-family: sans-serif;
}

h2{
	color: #ffffff;
	text-shadow: 0px 0px 3px rgb(199, 199, 199);
	font-family: sans-serif;
}

h3{
	color: #dfdfdf;
	text-shadow: 0px 0px 4px rgb(66, 66, 66);
	font-family: sans-serif;
}

p{
	color: #ffffff;
	text-shadow: 1px 1px 3px rgb(0, 0, 0);
	font-family: sans-serif;
}

a:visited{
	color: aqua;
}